.about{
  display: flex;
  flex-direction: row;
}

.text{
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}

.img{
  width: 20rem;
  height: 20.1rem;
  box-shadow: 10px 10px;
}

.link{
  text-decoration: none;
}