$light-blue:#8FC1E3;
$middle-blue:#5085A5;
$dark-blue:#31708E;
$brown:#687864;
$bg-white:#F7F9FB;

.posts {
  list-style-type: none;
  margin: 0;
}

.posts {
  margin: 1rem 0;

  a {
    background: $light-blue;
    color: white;
    display: block;
    padding: 1rem;
    text-decoration: none;
    border-radius: 5px;
  }

  a:hover {
    background: $middle-blue;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    color: black;
    font-size: .8rem;
    font-style: italic;
    margin-bottom: 0;
  }
}

.category{
  color: $bg-white;
  width:fit-content;
  border-radius: 5px;
  text-align: center;
  font-size: .8rem;
  font-style: italic;
  padding-left: .5rem;
  padding-right: .5rem;
}

.travel {
  background: $dark-blue;
}

.tech {
  background: $brown;
}

.photography {
  background: $middle-blue;
}