$light-blue:#8FC1E3;
$middle-blue:#5085A5;
$dark-blue:#31708E;
$brown:#687864;
$bg-white:#F7F9FB;

.items {
  list-style-type: none;
  margin: 1rem 0;
  display: block;
}

.box {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
  @media (min-width: 45rem) {
    flex-direction: row;
  }
}

.projects{
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
  font-size: 15px;
  font-style: italic;
}

.projectsText{
  font-size: medium;
  font-style: normal;
}

.leftBox {
  align-content: start;
  width: auto;
  line-height: 1px;
  font-size: 15px;
  @media (min-width: 45rem) {
    margin-right: 3rem;
    width: 13rem;
  }
}

.rightBox{
  align-content: start;
  width: 20rem;
  margin-top: 1rem;
  @media (min-width: 45rem) {
    margin-left: 3rem;
    margin-top: 0;
  }
}

.link{
  text-decoration: none;
  color: $light-blue;
  display: none;
  @media (min-width: 45rem) {
    display: block;
  }
}

.hidden{
  display: none;
  @media (min-width: 45rem) {
    display: block;
  }
}

.skills{
  background: $light-blue;
  margin-left: -300vw;
  margin-right: -300vw;
  padding: 1rem 300vw;
  margin-bottom: 2rem;

  h2{
    color: $bg-white;
    margin-top: 1rem;
    text-align: center;
  }

  h3{
    color: $bg-white;
    text-align: left;
  }

  ol{
    list-style-type: none;
    columns: 2;
  }

  li{
    color: $bg-white;
  }

  p{
    color: white;
    font-size: small;
    text-align: center;
    font-style: italic;
    text-decoration: none;
  }
}

.skillsSection{
  margin-top: 1rem;
}

.button{
  margin: .2rem;
  background: $dark-blue;
  width: 5rem;
  height: 1.5rem;
  border-radius: 5px;
  text-align: center;
  left: 40%;
  position: relative;

  a{
    text-decoration: none;
  }

  p{
    font-size: medium;
    font-style: normal;
  }
}