$bg-white:#F7F9FB;
.footer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: .8rem;
  background: gray;
  padding-left: 300vw;
  padding-right: 300vw;
  margin: 3rem -300vw 0;
}

.text{
  display: flex;
  flex-direction: column;
  color: $bg-white;
  margin-top: 1rem;
}

.logo{
  width: 8rem;
  margin-left: 1rem;
  @media (min-width: 45rem) {
    margin-left: 5rem;
  }
}

.link{
  text-decoration: none;
  color: $bg-white;
}